* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fb;
    color: #2c3e50;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

header {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.encabezado-universidad,
.contexto {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
}

.graficos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 25px;
}

.bloque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* TARJETAS */
.card {
    background: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}


.graficos:first-of-type .card canvas {
    width: 100% !important;
    height: 180px !important;
}


.graficos:last-of-type .card canvas {
    width: 100% !important;
    height: 280px !important;
}

/* TARJETAS DE INFO */
.info-card {
    background: linear-gradient(135deg, #2a5298, #1e3c72);
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.info-card h4 {
    font-size: 13px;
    margin-bottom: 5px;
}

.info-card p {
    font-size: 11px;
}

/* TABLA */
.tabla-resumen {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #2a5298;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f4f6fb;
}

/* BOTONES */
.botones {
    text-align: center;
    margin-top: 25px;
}

.botones a {
    background: #2a5298;
    color: white;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
}

.botones a:hover {
    background: #1e3c72;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .graficos {
        grid-template-columns: 1fr;
    }

    .graficos:first-of-type .card canvas,
    .graficos:last-of-type .card canvas {
        height: 220px !important;
    }
}